@media screen and (max-width: 1440px) {
  .game_top {
    margin: auto;
    width: 80%;
    margin-top: 11%;
    color: #FFD7D7;
    display: flex;
}
}


@media screen and (max-width: 776px) {

  /* HEADER */

  .header{
    font-size: 20px;
  }
  .menu{
      flex-direction: column;
  }
  .menu a:nth-child(1){
    border-left: initial;
  }
  .menu a{
    border:initial;
    line-height: 50px;
  }
  .menu .hueco{
    height: 250px;
    width: initial;
  }
  .logo{
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
}

/* GAME DESC */

.game_top {
  flex-direction: column-reverse;
}

.game_top img {
  width: 100%;
}

.game_top .social img{
width: 20%;
}

.game_top .game_desc h1 {
  text-align: center;
}

/* Tiendas */

.buy_sites img {
  width: 100%;
}

/* FOOTER */
.footer {
  justify-content: space-between;
}

.footer .columna:last-child {
  display: none;
}

.footer .columna {
  width: 25%;
}

.footer .columna h2 {
  font-weight: bold;
  font-size: small;
}

.footer .columna {
  font-weight: normal;
  font-size: smaller;
}

}

@media screen and (max-width: 600px) {
/* REVIEWS */
.review_item {
  flex-direction: column;
}

.review_item .desc {
  padding: 1%;
  margin:2% 0 ;
}

}